@use 'hero';
@use 'components/infors-bar';
@use 'components/buttons.scss';
@use 'event';
@use 'variables.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}